= form_for @interviewee do |f|
  - if @interviewee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@interviewee.errors.count, "error")} prohibited this interviewee from being saved:"
      %ul
        - @interviewee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
