.card.mb-3{ id: "interview-#{interview.start_time.to_i}" }
  .card-body
    .card-title= fmt_calendar_item_time(interview)
    .card-text
      - if interview.no_items?
        No Meetings
      - elsif interview.booked_by_interviewee?
        = interview.booked.status
        = interview.booked.interviewer.name
    - if interview.can_be_booked?
      = form_tag interviews_interviewee_path(id: interview.interviewee), 'data-ya-turbo-method': :post do
        = select_tag 'item_id', options_for_select(interview.item_candidates.map { |item| [item.interviewer.name, item.id] })
        = submit_tag "Apply"
    - else
      - if interview.booked_by_interviewee?
        = link_to "Cancel", interviews_cancel_interviewee_path(id: interview.interviewee, item_id: interview.booked.id), 'data-ya-turbo-method': :post
