%div{ 'd-state': { name: (@user.name || '') }.to_json.html_safe }
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.label :name, class: 'form-label'
      = f.text_field :name, 'd-model': 'name', class: 'form-control'
    .form-group.mt-3.float-end
      = f.submit 'Save', 'd-disabled': "name == ''", class: 'btn btn-primary'
