%ya-turbo-stream{ action: 'append', target: 'user-list' }
  %template
    %tr
      %td= @user.name
      %td= link_to 'Show', @user
      %td= link_to 'Edit', edit_user_path(@user)
      %td= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }

%ya-turbo-stream{ action: 'update', target: 'new-user-form' }
  - @user = User.new
  %template
    = render 'form'

