= form_for @calendar_item do |f|
  - if @calendar_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calendar_item.errors.count, "error")} prohibited this calendar_item from being saved:"
      %ul
        - @calendar_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :interviewee
    = f.text_field :interviewee
  .field
    = f.label :interviewer
    = f.text_field :interviewer
  .field
    = f.label :start_time
    = f.datetime_field :start_time
  .field
    = f.label :end_time
    = f.datetime_field :end_time
  .actions
    = f.submit 'Save'
