%h1 Listing calendar_items

%table
  %thead
    %tr
      %th Interviewee
      %th Interviewer
      %th Start time
      %th End time
      %th
      %th
      %th

  %tbody
    - @calendar_items.each do |calendar_item|
      %tr
        %td= calendar_item.interviewee
        %td= calendar_item.interviewer
        %td= calendar_item.start_time
        %td= calendar_item.end_time
        %td= link_to 'Show', calendar_item
        %td= link_to 'Edit', edit_calendar_item_path(calendar_item)
        %td= link_to 'Destroy', calendar_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Calendar item', new_calendar_item_path
